<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/styles/style.css">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <a href class="logo">Portfolio</a>
            <div class="menu">
                <div class="Home"></div>
                <div class="Projects"></div>
                <div class="Contact"></div>
            </div>
        </nav>

        <section class="about">
            <div class="name">
                <span>Jan</span>
                <span>Kowalski</span>
                <span class="deco"></span>
            </div>
            <div class="description">
                <div class="text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia eum officiis adipisci impedit voluptates, tenetur atque error sit quas facilis dicta suscipit beatae. Adipisci, exercitationem sunt et alias minus maiores?
                </div>
                <div class="social-box">
                    <a href class="social">
                        <img src="" alt="">
                        <span>/social text</span>
                    </a>
                </div>
            </div>
            <div class="skills">
                <div class="stack-box">
                    <span class="skill">Lorem.</span>
                    <span class="skill">Voluptatum?</span>
                    <span class="skill">Deserunt!</span>
                    <span class="skill">Amet!</span>
                    <span class="skill">Fugiat.</span>
                    <span class="skill">Deleniti.</span>
                </div>
            </div>
        </section>

        <section>

        </section>
    </body>
</html>



<!--tag.klasa>tag#idIliczbaZpętli$*5>lorem6-->