<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/styles/style.css">
        <title>Jan Kowalski - Web Developer</title>
    </head>
    <body>
        <nav>
            <!-- 
            <a href class="logo">G</a>
            <div class="menu">
                <a class="item">H</a>
                <a class="item">P</a>
                <a class="item">C</a>
            </div> 
            -->
            <a class="item">H</a>
            <a class="item">P</a>
            <a class="item">C</a>   
        </nav>

        <section class="about">
            <div class="name">
                <span>Jan</span>
                <span>Kowalski</span>
                <span class="deco"></span>
            </div>
            <div class="description">
                <div class="text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
                </div>
                <div class="box">
                    <a href class="social">
                        <img src="" alt="">
                        <span>/social text</span>
                    </a>
                </div>
            </div>
            <div class="skills">
                <div class="box">
                    <span class="skill">PHP7</span>
                    <span class="skill">JavaScript</span>
                    <span class="skill">CSS</span>
                    <span class="skill">SASS</span>
                    <span class="skill">Gulp</span>
                    <span class="skill">jQuery</span>
                    <span class="skill">CodeIgniter</span>
                </div>
            </div>
        </section>

        <section class="projects">
            <div class="box">
                <div class="project">
                    <img src="" alt="">
                    <div class="text-box">
                        <div class="tittle">
                            <span class="title-header">My Bank</span>
                            <span class="title-description">Strona internetowa</span>
                        </div>
                        <ul class="technologies">
                            <li class="technology">Vue</li>
                            <li class="technology">Node.js</li>
                            <li class="technology">Laravel</li>
                        </ul>
                        <div class="buttons">
                            <div class="button">Live</div>
                            <div class="button">Github</div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img src="" alt="">
                    <div class="text-box">
                        <div class="tittle">
                            <span class="title-header">My Bank</span>
                            <span class="title-description">Strona internetowa</span>
                        </div>
                        <ul class="technologies">
                            <li class="technology">Vue</li>
                            <li class="technology">Node.js</li>
                            <li class="technology">Laravel</li>
                        </ul>
                        <div class="buttons">
                            <div class="button">Live</div>
                            <div class="button">Github</div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img src="" alt="">
                    <div class="text-box">
                        <div class="tittle">
                            <span class="title-header">My Bank</span>
                            <span class="title-description">Strona internetowa</span>
                        </div>
                        <ul class="technologies">
                            <li class="technology">Vue</li>
                            <li class="technology">Node.js</li>
                            <li class="technology">Laravel</li>
                        </ul>
                        <div class="buttons">
                            <div class="button">Live</div>
                            <div class="button">Github</div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img src="" alt="">
                    <div class="text-box">
                        <div class="tittle">
                            <span class="title-header">My Bank</span>
                            <span class="title-description">Strona internetowa</span>
                        </div>
                        <ul class="technologies">
                            <li class="technology">Vue</li>
                            <li class="technology">Node.js</li>
                            <li class="technology">Laravel</li>
                        </ul>
                        <div class="buttons">
                            <div class="button">Live</div>
                            <div class="button">Github</div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img src="" alt="">
                    <div class="text-box">
                        <div class="tittle">
                            <span class="title-header">My Bank</span>
                            <span class="title-description">Strona internetowa</span>
                        </div>
                        <ul class="technologies">
                            <li class="technology">Vue</li>
                            <li class="technology">Node.js</li>
                            <li class="technology">Laravel</li>
                        </ul>
                        <div class="buttons">
                            <div class="button">Live</div>
                            <div class="button">Github</div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img src="" alt="">
                    <div class="text-box">
                        <div class="tittle">
                            <span class="title-header">My Bank</span>
                            <span class="title-description">Strona internetowa</span>
                        </div>
                        <ul class="technologies">
                            <li class="technology">Vue</li>
                            <li class="technology">Node.js</li>
                            <li class="technology">Laravel</li>
                        </ul>
                        <div class="buttons">
                            <div class="button">Live</div>
                            <div class="button">Github</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hire">
            <div class="box">
                <div class="text">Stwórzmy razme coś wyjątkowego</div>
                <div class="button">rozpocznij</div>
            </div>
        </section>

        <footer>
            <div class="box">
                Created with ❤️ by SnaYQ
            </div>
        </footer>
    </body>
</html>



<!--tag.klasa>tag#idIliczbaZpętli$*5>lorem6-->