<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/styles/itemsstyle.css">
        <title>zadanie menu i animacja CSS</title>
    </head>
    <body>
        <nav>
            <div class="box">
                <div class="logo">
                    LOGO
                </div>
                <div class="menu">
                    <img src="../assets/images/svg/bars-solid.svg" alt="menu">
                    <a href="item1.html" class="item active">item1</a>
                    <a href="item2.html" class="item">item2</a>
                    <a href="item3.html" class="item">item3</a>
                </div>
            </div>
        </nav>

        <section class="hero">
            <h1>item1</h1>
        </section>

        <section class="animation">
            x
        </section>

        <footer>
            <div class="box">
                Created with ❤️ by SnaYQ
            </div>
        </footer>
    </body>
</html>



<!--tag.klasa>tag#idIliczbaZpętli$*5>lorem6-->