@media (min-width: 320px) {

}

@media (min-width: 576px) {

}
  
@media (min-width: 768px) {
    
}
  
@media (min-width: 992px) {

}
  
@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: Montserrat;
    background-color: #030303;
    color: white;
}

nav {
    background-color: #282101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    width: calc( 100% - 40px );
    left: 0;
    top: calc(100vh - 50px);
    padding: 0 20px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFBEB;
    text-decoration: unset;
    width: 30px;
    height: 30px;
}

nav a:last-child {
    /*padding-right: 20px;*/
}

nav .menu {
    display: flex;
    justify-content: space-between;
    width: calc( 35px * 3 );
    padding-right: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.about .name {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.about .deco {
    width: 55px;
    height: 8px;
    background-color: #FCDA03;
    margin-top: 8px; 
}

.about .description {

    
}

.about .description .text {
    color:white;
    line-height: 25px;
    font-size: 20px;
}

body {
    padding-bottom: 50px;
}
